body {
    background-color: #F4EFEC;
}

.jumbotron {
    background-color: #ABA8A6;
}

@font-face{
    font-family: 'Alarm Clock';
    src: url(../fonts/alarm-clock.ttf);
}

.visor {
    font-family: 'Alarm Clock';
}

.border{
    border-width: medium !important;
}